.authors {
  margin-left: 10%;
  margin-right: 10%;
  float:center;
}

.menu-authors {
  width: 20%;
  float: left;
}

.link-author {
  display: block;
  height: 2em;
}

.author-detail {
  width: 80%;
}
